<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body>
    <div id="main">
        <h1>Pet Adoptions</h1>
        <div class="pet">
            <p>You ordered <%= details.quantity %> <%= details.color %>
            <% if (details.quantity < 2) { %>
                <%= details.pets %> 
            <%} else { %>
                <%= details.pets %>s
            <% } %>
            </p>

            <hr>
            <p>Pet - <%= details.pets %></p>
            <p>Quantity - <%= details.quantity %></p>
            <p>Color - <%= details.color %></p>
            <a href="/adoptions">Adoptions</a>
        </div>
    </div>
</body>
</html>